<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.pixabay.com/photo/2013/02/21/19/06/beach-84533_1280.jpg);">
  <div class="container">
    <h1>Welcome to <strong>Magic Cocktail !</strong></h1>
    <p>Change your life and learn to do awesome cocktail. You will kiss more girls, we promise !</p>
    <a class="btn btn-danger" href="#">Je veux apprendre</a>
  </div>
</div>

<div class="cocktail-container container mt-3">
  <div class="row justify-content-around">
    <%= render 'shared/card' %>
  </div>
</div>

